.footer {
    min-height: 10rem;
    background-color: #04366A;
    color: white;
    padding-top: 1rem;
}

.footer > h1 {
    margin: 0rem auto;
    text-align: center;
    width: 10rem;
    height: 2.5rem;
    font-family: Anton ,sans-serif;
    border-bottom: solid white 2px;
}
.contact-container > i > a{
    color: white;
    font-family: Anton ,sans-serif;
    text-decoration: none;
}
.contact-container {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    font-size: 1.5rem;
}
