main {
    margin-left: 5rem;
    background-color: F8FAFB;
    min-height: 50rem;
}
* {
    padding: 0px;
    margin: 0px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: Anton ,sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
}

@media only screen and (max-width:600px){
    main {
        margin-left: 0rem;
        margin-bottom: 5rem;
    }
}