.navbar {
    padding: 1.2rem;
    display: flex;
    min-height: 1rem;
   background-color: #303761;
    position: relative;
}
.brand {
    font-size: 2.36em;
    margin-left: 3rem;
    text-decoration: none;
    color: white;
}
.links {
    width: 25rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 7rem;
    padding-top: 1rem;
}

.links li a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
.hamburger-icon {
    display: none;
    position: absolute;
    right: 0px;
    top:6px;
    z-index: 2;
    width: 50px;
    height: 100%;
}

.hamburger-bar {
    width: 80%;
    height: 6px;
    border-radius: 10px;
    margin: 5px 0px 5px;
    transition: background-color .2s ease-in-out;
}

.hamburger-container {
    display: block;
    width: 100%;
    color: white;
    font-size: 1.8rem;
    letter-spacing: 3px;
}
.hamburger-links {
    display: none;
    min-height: 0em;
    transition: min-height,padding-left .3s ease-in;
}


.hamburger-off {
    background-color: grey;
}
.hamburger-on {
    background-color: white;
}

.active {
    display: block;
    padding-left: 0.2em;
    background-color: #5764b1;
    min-height: 1em;
}
.hamburger-icon:hover {
    cursor: pointer;
}
@media screen and (max-width: 1200px){
    .navbar {
        min-height: 3rem;
        padding: 0rem;
    }
    .links {
        display: none;
    }
    .brand { 
        text-align: center;
        width: 100%;
        font-size: 1.8rem;
        padding-top: 0.5rem;
    }
    .hamburger-icon {
        display: block;
    }
    .hamburger-container div:hover {
        background-color: #303761;
        padding-left: 1em;
        cursor: pointer;
    }
}