.body-container {
    padding: 5rem 10rem 5rem;
    background-color: rgb(252, 252, 252);
    min-height: 50rem;
}

@media screen and (max-width:700px){
    .body-container {
        padding: 0rem 2rem 0rem;
    }
}