.header-container{
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    background-image: url("../../img/mountain.jpg");
    background-size: cover;
    min-height: 50rem;
}
.form-container{
    padding: 2rem;
    color: white;
    background-color: #303761;
    border-radius: 2rem;
    min-height: 30rem;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input {
    height: 1.5rem;
    border-radius: 1rem;
    outline: none;
}