.apply-container{
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    background-size: cover;
    min-height: 50rem;
}
.form-container{
    font-size: 1.5rem;
    padding: 2rem;
    color: white;
    background-color: #04366A;
    border-radius: 0.5rem;
    min-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50rem;
}
.input-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.input {
    width: 20rem;
    margin: 1rem 0rem 1.5rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.9rem;
    font-size: 1.5rem;
    font-family: Anton ,sans-serif
}
.submit-button-container{
    display: flex;
    justify-content: space-around;
}
#submit-button{
    font-family: "Anton",sans-serif;
    font-size: 1.5rem;
    outline: none;
    border: none;
    background-color: white;
    color: #303761;
    height: 50px;
    width: 150px;
    margin-top: 2rem;
    cursor: pointer;
}