.apply-container{
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    background-size: cover;
    min-height: 50rem;
}
.form-container{
    font-size: 1.5rem;
    padding: 2rem;
    color: white;
    background-color: #04366A;
    min-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50rem;
}
.input-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.input {
    width: 15rem;
    margin: 1rem 2rem 1.5rem;
    height: 1.5rem;
    background-color: #04366A;
    border: none;
    border-bottom: solid white;
    text-align: center;
    color: white;
    outline: none;
    padding: 0.9rem;
    font-size: 1.5rem;
    font-family: Anton ,sans-serif;
}
.input::placeholder {
    color: rgba(255, 255, 255, 0.705);
}
.submit-button-container{
    display: flex;
    justify-content: space-around;
}
#submit-button{
    font-family: "Anton",sans-serif;
    font-size: 1.5rem;
    outline: none;
    border: none;
    background-color: white;
    color: #04366A;
    height: 50px;
    width: 150px;
    margin-top: 2rem;
    cursor: pointer;
    transition: box-shadow 300ms ease;
}
#submit-button:hover {
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}