.header-container {
    margin: 0rem;
    font-size: 2em;
    width: 100%;
    background-image: url("../../img/space.jpg");
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 0;
    font-size: 2rem;
    color: white;
    text-align: center;
}
.header-filter {
    position: absolute;
    z-index: -1;
    top: 0px;
    opacity: 0.5;
    background-color: black;
    width: 100%;
    height: 100%;
}
.button-container{
    position: absolute;
    bottom: -80px;
    left: 50px;
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    background-color: #04366A;
    width: calc(100% - 100px);
    height: 5rem;
}
#submit-button{
    margin-top: 10rem;
    border: none;
    background-color: white;
    color: #04366A;
    height: 50px;
    width: 150px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-family: Anton ,sans-serif;
}
#submit-button:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 800px){
    .header-container {
        height: 18rem;
    }
    .header-container > h1{
        padding-top: 5rem;
        font-size: 1rem;
        text-align: center;
    }
}
@media only screen and (min-width:800px){
    .header-container{
        height: 30rem;
    }
    .header-container > h1{
        padding-top: 10rem;
        font-size: 2rem;
        text-align: center;
    }
}
@media screen and (min-width: 1500px){
    .header-container{
        height: 50rem;
    }
    .header-container > h1{
        padding-top: 15rem;
        font-size: 3rem;
        text-align: center;
    }
}